{# app/Resources/views/layout.html.twig #}
<!DOCTYPE html>
<html>
	<head>
		<title>{% block title %}Exo{% endblock %}</title>

	</head>
		<body>
				{% block moto_body %}
				{% endblock %}

	</body>
</html>